
<%- include('partials/header'); %>
    <h1><%= title %></h1>

    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae cum, quia sequi architecto asperiores id quos officia perspiciatis aspernatur rem nostrum itaque, a corrupti aut error impedit. Dicta unde cum modi expedita tenetur quis in illum dolores reprehenderit earum inventore consequatur possimus similique voluptate minima, harum ducimus. Aliquid dolorem maxime porro impedit, amet culpa praesentium voluptatem maiores ipsa est minima iusto commodi et cumque rem nisi enim nemo laboriosam, in quos. Impedit qui, eum reprehenderit ratione facilis placeat tempora debitis minima laboriosam voluptas deserunt aut unde perspiciatis sunt voluptatum rerum quae cumque tenetur dicta necessitatibus! Itaque veniam nam fuga nesciunt?</p>
<%- include('partials/footer'); %>